import React from "react";
import ReactDOM from "react-dom/client";
import @@PAGE_BASENAME@@ from "./@@PAGE_BASENAME@@";

ReactDOM.createRoot(document.getElementById("root")).render(
  <React.StrictMode>
    <@@PAGE_BASENAME@@ />
  </React.StrictMode>
);
